@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font: 14px/1 "Microsoft YaHei", "Arial", "SimSun", "Arial Narrow", "HELVETICA";
    color: #999;
}

a {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #5DC3B1;
}

p {
    line-height: 1.5;
}

header,
footer {
    position: fixed;
    left: 0;
    z-index: 99;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

.clr-primary {
    color: #5DC3B1;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}


/* mobile-移动端 */

html.mobile {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 2.667vw;
}